/*==================================================
MAIN CONFIG
==================================================*/

@font-face {
    font-family: 'sweet_sixteen';
    src: url('../fonts/sweet_sixteen.eot');
    src: url('../fonts/sweet_sixteend41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sweet_sixteen.woff') format('woff'),
         url('../fonts/sweet_sixteen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklin_gothic_book_r';
    src: url('../fonts/franklin_gothic_book_r.eot');
    src: url('../fonts/franklin_gothic_book_rd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/franklin_gothic_book_r.woff') format('woff'),
         url('../fonts/franklin_gothic_book_r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'icons';
	src: url('../fonts/iconsf697.eot?f1jo62');
	src: url('../fonts/iconsf697.eot?f1jo62#iefix') format('embedded-opentype'),
		 url('../fonts/iconsf697.ttf?f1jo62') format('truetype'),
		 url('../fonts/iconsf697.woff?f1jo62') format('woff'),
		 url('../fonts/iconsf697.svg?f1jo62#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"]
{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e949";
}
.icon-history:before {
  content: "\e94d";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}










html, body
{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
	max-height: 100%;
}

body
{
	font-family: franklin_gothic_book_r;

	color: #4B4342;
	background: #F8F5F1;

	font-size: 16px;

	/*position: relative;*/
	overflow-y: scroll;
}

a
{
	color: #4B4342;
	text-decoration: none;
}

/*================================================*/











/*==================================================
HEADER
==================================================*/

header
{
	width: 100%;
	height: 100px;

	position: fixed;
	top: 0;

	z-index: 21;

	background: #fff;

	box-shadow: 0 0 50px -5px rgba(0,0,0,0.5);
}

#main_menu
{
	margin: auto;

	max-width: 1024px;
	width: auto;
	height: 100%;

	line-height: 100px;

	text-align: center;

	position: relative;
	z-index: 10;

	/*background: #ccc;*/
}

.main_menu_item
{
	margin-left: 10px;
	margin-right: 10px;

	width: auto;

	display: inline-block;

	text-decoration: none;
	border: none;

	color: #4B4342;
}

.main_menu_item:hover
{
	color: #DEAD1D;
	font-weight: bold;

	cursor: pointer;
}





.submenu
{
	position: absolute;
	margin: auto;
	top: 75px;

	background: rgba(255,255,255,0.90);

	border-radius: 10px;

	box-shadow: 0 0 50px -5px rgba(0,0,0,0.25);

	text-align: left;

	display: none;
}

.submenu_item
{
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	height: auto;
	line-height: 16px;

	display: block;
	vertical-align: middle;

	text-decoration: none;
	border: none;

	font-size: 16px;
}

.submenu_item:hover
{
	color: #DEAD1D;
	font-weight: bold;

	cursor: pointer;
}





#language_block
{
	text-align: center;
	border-radius: 10px;

	display: none;
}

.language_item
{
	padding-top: 5px;
	padding-bottom: 5px;

	display: inline-block;
	vertical-align: middle;
}

.language_item:hover
{
	color: #DEAD1D;
	font-weight: bold;

	cursor: pointer;
}

#language_menu
{
	margin: auto;

	max-width: 320px;
	width: auto;
	height: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;

	z-index: 10;

	line-height: 100px;

	text-align: center;

	/*background: #ccc;*/
}

#language_mobile
{
	padding-top: 5px;
	border-top: 1px solid #eee;
}

.language_mobile
{
	margin-left: 5px;
	margin-right: 5px;

	display: inline-block;
	vertical-align: middle;
}

.language_flag
{
	max-width: 24px;
	width: auto;
	height: auto;
}

#sm_menu
{
	margin: auto;

	max-width: 320px;
	width: auto;
	height: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;

	z-index: 10;

	line-height: 100px;

	text-align: center;

	/*background: #ccc;*/
}

.sm_menu_item
{
	margin-left: 2.5px;
	margin-right: 2.5px;

	width: auto;
	font-size: 16px;

	color: #4B4342;
}

#mobile_menu_btn
{
	margin: auto;
	padding-right: 20px;

	max-width: 320px;
	width: auto;
	height: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;

	z-index: 10;

	line-height: 100px;

	text-align: center;

	font-size: 16px;

	/*background: #ccc;*/

	display: none;
}

#mobile_menu_btn:hover
{
	cursor: pointer;
}

#mobile_menu
{
	max-width: 320px;
	width: 100%;

	text-align: center;

	border-radius: 10px;

	display: none;
}

.mobile_menu_item
{
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	display: block;
	vertical-align: middle;

	text-decoration: none;
	border: none;

	color: #4B4342;

	font-size: 16px;
}

.mobile_menu_item:hover
{
	color: #DEAD1D;
	font-weight: bold;

	cursor: pointer;
}

#logo_container
{
	width: auto;
}

#logo_img
{
	max-width: 128px;

	width: auto;
	vertical-align: middle;
}

footer
{
	width: 100%;
	height: 100px;

	display: table;

	background: #fff;

	background: url(../img/main_slider/footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#footer_content
{
	width: auto;

	display: table-cell;
	vertical-align: middle;

	color: #fff;

	text-align: center;
}

.footer_text
{
	display: inline-table;
	vertical-align: middle;
}

/*================================================*/










/*==================================================
MAIN BANNER
==================================================*/

#main_banner
{
	margin: auto;
	margin-top: 100px;

	width: 100%;
	height: calc(100% - 100px);

	position: relative;
	overflow: hidden;
}

.main_banner_full
{
	height: calc(100% - 150px) !important;
}

.main_banner_half
{
	height: 260px !important;
}

.main_banner_slide
{
	width: 100%;
	height: 100%;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: table;

	background: url(../img/main_slider/home1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	color: #fff;

	text-align: center;
}

.main_banner_slide_info
{
	display: table-cell;
	vertical-align: middle;
}

.main_banner_slide_title
{
	font-family: sweet_sixteen;
	font-size: 72px;
}

.main_banner_slide_text1
{
	font-style: italic;
	font-size: 32px;
	font-weight: bold;
}

.main_banner_slide_text2
{
	font-style: italic;
	font-size: 24px;

	display: none;
}

/*================================================*/










/*==================================================
CONTENT
==================================================*/

#content
{
	margin: auto;

	width: auto;
	height: auto;

	font-size: 0;

	position: relative;
	z-index: 1;
	
	text-align: center;

	box-shadow: 0 0 50px -5px rgba(0,0,0,0.5);
}

.content_block
{
	padding-top: 64px;
	padding-bottom: 64px;

	position: relative;
}

.content_bg1
{
	/*background: url(../img/main_slider/house.png);*/
	background: url(../img/main_slider/house.png), -webkit-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/house.png), -o-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/house.png), -moz-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/house.png), linear-gradient(to right, #F8F5F1, #F8F5F1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.content_bg2
{
	/*background: url(../img/main_slider/plants.jpg);*/
	background: url(../img/main_slider/plants.jpg), -webkit-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/plants.jpg), -o-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/plants.jpg), -moz-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/plants.jpg), linear-gradient(to right, #F8F5F1, #F8F5F1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	padding-top: 100px;
	padding-bottom: 100px;
}

.content_bg3
{
	/*background: url(../img/main_slider/tree.jpg);*/
	background: url(../img/main_slider/tree.jpg), -webkit-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/tree.jpg), -o-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/tree.jpg), -moz-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/tree.jpg), linear-gradient(to right, #F8F5F1, #F8F5F1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.content_bg4
{
	/*background: url(../img/main_slider/cacao.jpg);*/
	background: url(../img/main_slider/cacao.jpg), -webkit-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/cacao.jpg), -o-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/cacao.jpg), -moz-linear-gradient(to right, #F8F5F1, #F8F5F1);
	background: url(../img/main_slider/cacao.jpg), linear-gradient(to right, #F8F5F1, #F8F5F1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.content_intro
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.content_block_full
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;

	max-width: 100%;
	width: auto;
	height: auto;

	position: relative;

	text-align: center;
	font-size: 0;
}

.content_block_full:first-child
{
	padding-top: 0;
}

.content_block_1024
{
	max-width: 810px;
	width: auto;

	font-size: 16px;
}

.content_block_1024:first-child
{
	padding-top: 0;
}

.content_block_half
{
	width: 40%;
	height: auto;

	display: inline-table;
	vertical-align: middle;

	position: relative;
}

.content_block_half_white
{
	margin: 10px;

	width: 92%;
	height: 180px;

	display: inline-table;
	vertical-align: middle;

	position: relative;

	background: #fff;

	border-radius: 10px;

	box-shadow: 0 0 50px -5px rgba(0,0,0,0.10);
}

.content_block_forth
{
	margin: 5px;

	width: 20%;
	height: auto;

	display: inline-table;
	vertical-align: middle;

	position: relative;
}

.general_image1
{
	max-width: 100%;
	width: auto;
	height: auto;

	border-radius: 10px;

	box-shadow: 0 0 50px -5px rgba(0,0,0,0.10);
}

.general_image2
{
	max-width: 100%;
	width: auto;
	height: auto;

	border-radius: 10px;
}

 .gallery_img
 {
 	margin-bottom: 10px;

 	width: 240px;
 	height: auto;

 	border-radius: 10px;
 }

 .gallery_hide
 {
 	display: none;
 }

.content_block_internal_info
{
	padding: 10px;

	display: table-cell;
	vertical-align: middle;

	font-size: 16px;
}

.title_icon
{
	margin: auto;
	margin-bottom: 5px;

	width: auto;
	height: 48px;
}

.content_block_title, .content_block_title_white
{
	margin-bottom: 10px;

	font-size: 32px;
	font-family: sweet_sixteen;
}

.content_block_title_white
{
	color: #fff;
}

.content_block_title2
{
	margin-bottom: 10px;

	font-size: 20px;
	font-family: sweet_sixteen;
}

.content_block_info, .content_block_info_white
{
	margin-bottom: 20px;

	font-size: 16px;
}

.content_block_info_white
{
	color: #fff;
}

.content_block_btn
{
	margin: auto;
	padding: 7.5px;

	width: 90px;

	border: 2px solid #4B4342;
	border-radius: 32px;

	font-size: 16px;
}

#history_btn:hover
{
	cursor: pointer;
}


#history_content
{
	max-width: 1024px;

	border-radius: 10px;

	/*display: none;*/

	overflow-y: auto;
}





#contact_form
{
	
}

.input_half
{
	margin: 5px;
	padding: 10px;
	width: 40%;

	border: none;

	border-radius: 5px;

	background: #eee;
}

#form_btn
{
	margin: auto;
	margin-top: 10px;
	padding: 7.5px;

	width: 120px;

	border: 2px solid #4B4342;
	border-radius: 32px;

	font-size: 16px;

	background: transparent;
}

#form_btn:hover
{
	color: #fff;
	background: #4B4342;

	cursor: pointer;
}

.google-maps
{
    position: relative;
    /*padding-bottom: 50%; // This is the aspect ratio*/
    height: 320px;
    overflow: hidden;

    border-radius: 5px !important;

    box-shadow: 0px 0px 40px -10px #999999;

    border: 10px solid #fff;
}

.google-maps iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

    border-radius: 5px !important;
}





.header_wave
{
	width: 100%;
	height: 10px;

	position: absolute;
	margin: auto;
	bottom: -9px;

	z-index: 5;

	transform: rotate(180deg);

	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='84' height='9.8' viewBox='0 0 84 9.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ewave_bg%3C/title%3E%3Cpath class='cls-1' d='M83.58,8.09c-3.5.35-7-1-10.5-3.77S66.14.2,62.75.2s-7,1.37-10.54,4.12-7,4.12-10.34,4.12-7-1.38-10.5-4.12S24.42.2,21,.2,14,1.57,10.5,4.32,3.55,8.44.13,8.09H0V10H84V8.09Z' transform='translate(0 -0.2)'/%3E%3C/svg%3E");
}

.wave_top
{
	width: 100%;
	height: 10px;

	position: absolute;
	margin: auto;
	top: -9px;

	z-index: 5;
}

.wave_bottom
{
	width: 100%;
	height: 10px;

	position: absolute;
	margin: auto;
	bottom: -9px;

	z-index: 2;

	transform: rotate(180deg);
}

.cream_wave_top, .cream_wave_bottom
{
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='84' height='9.8' viewBox='0 0 84 9.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23F8F5F1;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ewave_bg%3C/title%3E%3Cpath class='cls-1' d='M83.58,8.09c-3.5.35-7-1-10.5-3.77S66.14.2,62.75.2s-7,1.37-10.54,4.12-7,4.12-10.34,4.12-7-1.38-10.5-4.12S24.42.2,21,.2,14,1.57,10.5,4.32,3.55,8.44.13,8.09H0V10H84V8.09Z' transform='translate(0 -0.2)'/%3E%3C/svg%3E");
}

.yellow_wave_top, .yellow_wave_bottom
{
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='84' height='9.8' viewBox='0 0 84 9.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23DEAD1D;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ewave_bg%3C/title%3E%3Cpath class='cls-1' d='M83.58,8.09c-3.5.35-7-1-10.5-3.77S66.14.2,62.75.2s-7,1.37-10.54,4.12-7,4.12-10.34,4.12-7-1.38-10.5-4.12S24.42.2,21,.2,14,1.57,10.5,4.32,3.55,8.44.13,8.09H0V10H84V8.09Z' transform='translate(0 -0.2)'/%3E%3C/svg%3E");
}

/*================================================*/










/*==================================================
POPUPS
==================================================*/

#dialog_box
{
	width: 100%;
	height: 100%;
	display: table;

	position: fixed;
	margin: auto;

	opacity: 0;
	display: none;
	vertical-align: middle;

	z-index: 20;

	background: rgba(238,238,238,0.95);
}

#dialog_block
{
	max-width: 1280px;
	width: 100%;
	height: 100%;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: table-cell;
	vertical-align: middle;

	border-radius: 5px;

	text-align: center;

	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
}

#dialog_text_block
{
	max-width: 720px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	display: table;
	vertical-align: middle;

	/*background-color: rgba(255, 255, 255, 1);*/
}

#dialog_text
{
	padding: 10px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#dialog_text img
{
	max-width: 100%;
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 20px -5px #000000;
}

#dialog_btn
{
	width: 32px;
	height: 32px;
	line-height: 32px;

	position: absolute;
	margin: auto;
	top: 15px;
	right: 15px;

	border: none;
	border-radius: 2.5px;
	color: #81ba45;

	color: #ffffff;
	background: #737A7F;

	cursor: pointer;
	font-size: 1.2em;

	text-align: center;

	z-index: 1;

	border-radius: 5px;
}





#video_container, iframe
{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	background: #000;
	box-shadow: 0px 0px 100px -5px #000000;
	border-radius: 10px;
	overflow: hidden;
}

.embed-container
{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	box-shadow: 0px 0px 100px -5px #000000;
	border-radius: 10px;
}

.embed-container iframe, .embed-container object, .embed-container embed
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content_block_internal_info .embed-container
{
	box-shadow: none;
}

/*================================================*/










/*==================================================
TABLES
==================================================*/

table
{
    border-collapse: collapse;
    border-collapse: separate;
    width: 100%;
    font-size: 0.85em;
}

thead
{
	margin-left: 10px;
	margin-right: 10px;
}

td, th
{
    padding: 10px;    
}

th
{
	padding-top: 10px;
	padding-bottom: 10px;
}

tr:nth-child(even)
{
    /*background-color: #f1f4fb;*/
}

tbody > tr
{
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #f1f4fb;
    border-bottom: 1px solid #f1f4fb;
}

tbody > tr:first-child
{
    border: none;
}

tbody > tr:last-child
{
    border: none;
}

.left_td
{
	padding-left: 10px !important;
	text-align: left;
}

.right_td
{
	padding-right: 10px !important;
	text-align: right;
}

.table_limit
{
	margin: auto;
	max-width: 1100px;
	width: 100%;
}

.table_limit table
{
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-bottom: 20px;
	width: 49%;

	display: inline-table;
	vertical-align: top;
}

/*================================================*/










/*==================================================
TABLES
==================================================*/

@media (max-width: 900px)
{
	body
	{
		font-size: 13px;
	}

	.main_menu_item
	{
		display: none;
	}

	#language_menu
	{
		display: none;
	}

	#mobile_menu_btn
	{
		display: block;
	}

	#logo_container
	{
		display: inline-block;
	}

	#logo_img
	{
		max-width: 96px;
	}

	.content_block_half
	{
		width: 100%;
	}

	.content_block_half_white
	{

	}





	.main_banner_half
	{
		height: 130px !important;
	}

	.main_banner_slide_title
	{
		font-size: 36px;
	}

	.main_banner_slide_text1
	{
		font-size: 24px;
	}

	.main_banner_slide_text2
	{
		font-size: 18px;
	}

	.content_block_title, .content_block_title_white
	{
		font-size: 24px;
	}
}

@media (max-width: 640px)
{
	.input_half
	{
		width: 80%;
	}

	.content_block 
	{
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.content_block_full 
	{
		margin: 0;
		padding: 20px;
	}

	.title_icon
	{
		height: 32px;

		text-align: center;
	}

	.content_block_title, .content_block_title_white
	{
		text-align: center;
	}

	.content_block_info, .content_block_info_white
	{
		/*text-align: justify;*/
	}

	#history_content
	{
		/*text-align: justify;*/
	}

	.content_block_internal_info
	{
		padding: 20px;
	}
}

/*================================================*/